</html>

<!DOCTYPE html>
<html lang="en" ng-app="foodieApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Order page where customers can add a new customized order and organize exisiting orders">
    <meta name="author" content="Shirley Wang">

    <title>Foodie</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- font CSS -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="css/mystyles.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="welcome.html"><span class="fa fa-bars"
                                                         aria-hidden="true"></span> My Menu</a></li>
                    <li><a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                    <li class="active"><a href="order.html"><i class="fa fa-cutlery" aria-hidden="true"></i> Orders</a></li>
                    <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                    <li><a href="index.html"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                </ul>
            </div>
            <!-- navbar div -->
        </div>
        <!-- container div -->
    </nav>
    <!-- jumbotron for restaurant ads -->
    <div class="jumbotron" id="carousel">
        <div class="row row-content">
            <div class="col-xs-12">
                <div id="mycarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#mycarousel" data-slide-to="1"></li>
                        <li data-target="#mycarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="img-responsive" src="img/slide1.jpg" alt="slide1">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/slide2.jpg" alt="slide2">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="img/slide3.jpg" alt="slide3">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- mycarousel div -->
            </div>
            <!-- col-xs-12 div -->
        </div>
        <!-- row row-content div -->
    </div>
    <!-- jumbotron div -->

    <div class="container-fluid">
        <div class="row row-content" ng-controller="orderDetailController as orderCtrl">

            <!-- tab list -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ng-class="{active:orderCtrl.isSelected(1)}">
                    <a ng-click="orderCtrl.select(1)" aria-controls="orders" role="tab">Orders</a></li>
                <li role="presentation" ng-class="{active:orderCtrl.isSelected(2)}">
                    <a ng-click="orderCtrl.select(2)" aria-controls="mains" role="tab">Main</a></li>
                <li role="presentation" ng-class="{active:orderCtrl.isSelected(3)}">
                    <a ng-click="orderCtrl.select(3)" aria-controls="appetizers" role="tab">Appetizers</a></li>
                <li role="presentation" ng-class="{active:orderCtrl.isSelected(4)}">
                    <a ng-click="orderCtrl.select(4)" aria-controls="desserts" role="tab">Desserts</a></li>
                <li role="presentation" ng-class="{active:orderCtrl.isSelected(5)}">
                    <a ng-click="orderCtrl.select(5)" aria-controls="drinks" role="tab">Drinks</a></li>
            </ul>
            <!-- repeating tab content -->
            <div class="tab-content">
                <ul class="tab-pane fade in active">
                    <div ng-repeat="order in orderCtrl.orders | filter:orderCtrl.filtText">
                        <!-- each content is bounded to the controller data -->
                        <div class="form-group">
                            <label>Description:</label> {{order.description}}
                            <br>
                            <label>Price:</label> {{order.price | currency}}
                            <br>
                            <label>Deliver time:</label> {{order.deliverTime}}
                            <br>
                            <label>Gluten free:</label> {{order.gluten}}
                            <br>
                            <label>Vegan:</label> {{order.vegan}}
                            <br>
                            <label>Comments:</label> {{order.comment}}
                            <br>
                            <button class="btn btn-info btn-sm">Delete</button> <!-- delete button needs to be implemented -->
                        </div>
                        <hr>
                    </div>
                </ul>
            </div>
            <!-- tab-content div -->
        </div>
        <!-- row-content div -->

        <div class="row row-content"> <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#OrderModal">
                Place an order
            </button>
            <a href="welcome.html" class="btn btn-info" role="button">Cancel</a>
        </div>
    </div> <!-- container-fluid div -->
    
    
    <footer>
        <div class="container-fluid">
            <div class="row" id="socialFooter">
                <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
            </div>
            <div class="row">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2016 Foodie</p>
            </div>
        </div>
        <!-- container div -->
    </footer>
    <!-- footer -->
    
    <!--Order Item Modal -->
    <div class="modal fade" id="OrderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Place an order</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="priceMax">Description:</label>
                            <input type="text" id="description" placeholder="I want to eat something ...">
                        </div>
                        <div class="form-group" id="foodType">
                            <label for="foodType">Food type:</label>
                            <select multiple class="form-control">
                                <option>Main Dish</option>
                                <option>Appetizer</option>
                                <option>Dessert</option>
                                <option>Drink</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="priceMax">Maximum price:</label> $
                            <input type="number" id="priceMax">
                            <label for="deliverTime">Latest deliver time:</label>
                            <input type="time" id="deliverTime">
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1">Gluten free
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2">Vegan
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="order.html" class="btn btn-primary" role="button">Add the order</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    
    <!-- core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- angular controller for foodieApp -->
    <script>
        var app = angular.module('foodieApp', []);
        this.tab = 1;
        this.filtText = '';
        app.controller('orderDetailController', function () {
            var orders = [
                {
                    description: 'I want pizza for lunch',
                    category: 'main',
                    price: '10.00',
                    deliverTime: '12:00 PM',
                    gluten: 'Yes',
                    vegan: 'No',
                    comment: 'Thin crust is really important'
                        },
                {
                    description: 'I want chicken for dinner',
                    category: 'main',
                    price: '14.00',
                    deliverTime: '6:00 PM',
                    gluten: 'No',
                    vegan: 'No',
                    comment: 'Grilled is the best'
                        },
                {
                    description: 'I want ice cream after lunch',
                    category: 'dessert',
                    price: '6.00',
                    deliverTime: '3:00 PM',
                    gluten: 'No',
                    vegan: 'No',
                    comment: 'Chocolate or strawberry'
                        },
                {
                    description: 'I want chicken wings',
                    category: 'appetizer',
                    price: '8.00',
                    deliverTime: '3:00 PM',
                    gluten: 'No',
                    vegan: 'No',
                    comment: 'Buffolo or lemon pepper'
                        }
                        ];

            this.orders = orders;
            this.select = function (setTab) {
                this.tab = setTab;
            }
            this.isSelected = function (checkTab) {
                    return (this.tab === checkTab);
                }
                // set tab for each order based on category type 
            this.select = function (setTab) {
                this.tab = setTab;

                if (setTab === 2)
                    this.filtText = "main";
                else if (setTab === 3)
                    this.filtText = "appetizer";
                else if (setTab === 4)
                    this.filtText = "dessert";
                else if (setTab === 5)
                    this.filtText = "drink";
                else
                    this.filtText = "";
            }
        });
    </script>
</body>

</html>